<nav class="navbar">
  <%= image_tag "logo.jpg" %>
  
  <div class="navbar-nav">
    <%= link_to "All Categories", root_path, class: "nav-link" %>
    <%= link_to "New Category", new_category_path, class: "nav-link" %>
  </div>
</nav>
