.banner {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.96), rgba(152, 19, 179, 0.4)), image-url("real15.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  color: white;

  h1, h3 {
    color: black;
    text-align: center;
  }
}
